<main>
    {{#if messages.error}}
    <section class="notifications">
        <p class="notification-message">{{messages.error}}</p>
    </section>
    {{/if}}
    <section class="expense-report">

        <h1>ID: {{currentExpense._id}}</h1>

        <div class="report-category">
            <img src="static/images/amount.png" alt="">
            <p>Equipment - лв {{currentExpense.total}}</p>
        </div>

        <div class="report-merchant">
            <p>{{this.merchant}}</p>
        </div>

        <div class="report-description">
            <img src="static/images/hastag.png" alt="">
            <p>{{currentExpense.description}}</p>
        </div>

        <div class="report-action">
            <a disabled href="/delete/{{currentExpense._id}}">Stop tracking</a>
        </div>
    </section>
</main>